.theme--light * {
  ::-webkit-scrollbar-button {
    display: none;
  }

  &::-webkit-scrollbar {
    width: 15px;
  }

  &::-webkit-scrollbar-track {
    //background: #e6e6e6;
    //border-left: 1px solid #dadada;
    background: none;
  }

  &::-webkit-scrollbar-thumb {
    background: #b0b0b0;
    border: solid 3px #e6e6e6;
    border-radius: 7px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #757575;
  }
}

.theme--dark * {
  ::-webkit-scrollbar-button {
    display: none;
  }

  &::-webkit-scrollbar {
    width: 15px;
  }

  &::-webkit-scrollbar-track {
    //background: #202020;
    //border-left: 1px solid #2c2c2c;
    background: none;
  }

  &::-webkit-scrollbar-thumb {
    background: #3e3e3e;
    border: solid 3px #202020;
    border-radius: 7px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #757575;
  }
}